* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hide {
    display: none;
}

nav {}


/** effect */

.come-in {
    transform: translateY(300px);
    animation: come-in 0.8s ease forwards;
}

.come-in {
    animation-duration: 0.6s;
    /* So they look staggered */
}

@keyframes come-in {
    to {
        transform: translateY(0);
    }
}


/*end of effect*/

nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99 !important;
    background-color: transparent;
}

div.input {
    padding: 30px 0px;
    display: flex;
    justify-content: center;
}

input#input:focus {
    outline: none;
    border: solid rgb(0, 110, 255) 2px;
    transition: box-shadow .5s ease;
}

input#input {
    -webkit-appearance: none;
    appearance: none;
    border: #cccccc 1px solid;
    border-radius: 10px;
    width: 40%;
    height: 60px;
    padding: 10px;
    font-weight: 300;
    font-size: 1em;
}

nav li {
    list-style: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav ul li a {
    line-height: 60px;
    display: block;
    color: white;
}

nav ul>li {
    line-height: 60px;
    font-weight: 600;
    font-size: 0.9em;
}

.spread {
    padding: 0px 10px;
}

.p-auto {
    padding: auto;
    height: fit-content;
}

nav a {
    text-decoration: none;
    color: white;
}

nav div:first-child {
    font-size: 1.4em;
    line-height: 60px;
}

nav div>strong {
    background-color: rgb(0, 19, 83);
    color: white;
    border-radius: 10px;
    font-weight: 50;
    padding: 5px;
}

nav ul>li.selected {
    color: blue;
}

div.button-mini-max {
    width: 100%;
    height: 100%;
    font-size: 2em;
    border: solid orangered 1px;
}

div.button-mini-max>a {
    color: black;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    padding: 30px;
}

.button-mini-max small {
    font-size: 0.5em;
    font-weight: 700;
}

div.button-mini-max:hover {
    background-color: orangered;
    color: white;
    transition: all .5s ease;
}

div.button-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    grid-gap: 10px;
    margin-top: 10px;
}

section#body {
    width: 100%;
}

#text-in-headbg a {
    text-decoration: none;
    color: white;
}

#body .headbg {
    width: 100%;
    height: 500px;
    background-image: url('Study\ Smart.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.headbg #overlay {
    width: 100%;
    z-index: 10;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.671);
}

#text-in-headbg {
    color: white;
    z-index: 11;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#text-in-headbg .top {
    font-size: 4em;
}

#text-in-headbg .top>strong {
    background-color: rgb(0, 19, 83);
    color: white;
    border-radius: 10px;
    font-weight: 50;
    padding: 5px;
}

#text-in-headbg .bottom {
    font-size: 1.5em;
}

.wide {
    width: 100%;
}

.content-holder {
    position: absolute;
    width: 70%;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: white;
    z-index: 12;
    padding: 20px;
    padding-left: 30px;
    min-height: 600px;
}

.content-holder-wide {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: white;
    z-index: 12;
    min-height: 600px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-to-sided {
    display: grid;
    grid-template-rows: repeat(4, 4fr);
}

.double-holder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.text-extreme-size {
    font-size: 4em;
    font-weight: 800;
    text-align: right;
    color: rgb(0, 7, 31);
    background-color: rgba(0, 19, 83, 0.164);
    padding: 50px;
    text-align: center;
}

.double-holder:nth-child(2) .text-extreme-size {
    background-color: rgb(255, 187, 163);
}

.span-two {
    grid-column: 1/3;
}

.content-holder h1 {
    font-size: 30px;
    color: rgb(0, 19, 83);
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li ul {
    position: absolute;
    background-color: white;
    display: none;
    width: 150px;
    z-index: 99 !important;
    border-radius: 0px 0px 5px 5px;
}

nav ul li ul li:hover {
    background-color: rgba(0, 19, 83, 0.349);
}

nav ul li ul li:last-child {
    border-radius: 0px 0px 5px 5px;
}

nav ul li {
    position: relative;
}

nav ul li:hover ul {
    display: block;
}

p.text {
    font-size: 21px;
    margin-bottom: 50px;
    line-height: 33px;
}

div.text-and-picture {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 50px;
    line-height: 33px;
}

div.text-and-picture>p {
    font-size: 21px;
    margin-bottom: 30px;
    grid-column: 1/3;
}

div.text-and-picture>img {
    width: 80%;
    grid-column: 3/4;
    padding-left: 50px;
}


/*In construction page*/

div.in-construction-message {
    width: 100%;
    background-image: url('construction.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}

div.white-overlay {
    background-color: rgba(255, 255, 255, 0.473);
    font-size: 4em;
    font-weight: 50;
    padding: 30px;
    text-align: center;
    height: 500px;
}

div.button-max {
    font-size: 1em;
    border: solid orangered 3px;
    margin-top: 30px;
    background-color: rgba(255, 68, 0, 0.384);
}

a {
    color: black;
    text-decoration: none;
}

div.button-max:hover {
    background-color: orangered;
    transition: all .5s ease;
}


/*end of in construction page*/


/*Start of home page update 2.0*/

section.pair-for-picture-and-descriptions {
    display: grid;
    grid-template-columns: 1fr;
    height: 30vh;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

section.pair-for-picture-and-descriptions>.pic {
    padding: 100px;
}

section.pair-for-picture-and-descriptions>.text {
    width: 100%;
    font-weight: 50;
    font-size: 1.5em;
    text-align: center;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body-title {
    font-size: 2em;
    text-align: center;
    padding: 30px;
    margin: 40px 0px;
}


/*End of home page update 2.0*/

.quote {
    font-size: 1.4em;
    font-weight: 50;
    font-style: italic;
    line-height: 2em;
    color: rgb(49, 0, 49);
    text-align: center;
}

div.box-picture-text {
    width: 90%;
}

div.box-picture-text img {
    width: 100%;
    border: solid black 3px;
}

b {
    color: orangered;
}

html {
    scroll-behavior: smooth;
}

@media only screen and (max-width:1190px) {
    div.button-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    div.white-overlay {
        font-size: 3em;
    }
    section.pair-for-picture-and-descriptions>.pic {
        padding: 10px;
    }
    section.pair-for-picture-and-descriptions>.text {
        padding: 20px;
    }
}

@media only screen and (max-width:950px) {
    .content-holder-wide {
        width: 80%;
    }
    .body-title {
        font-size: 1.6em;
        text-align: center;
        padding: 20px;
        margin: 40px 0px;
    }
    section.pair-for-picture-and-descriptions>.text {
        font-size: 1.3em;
    }
}

@media only screen and (max-width:715px) {
    .content-holder-wide {
        width: 100%;
        top: 100%;
    }
    #text-in-headbg .top {
        font-size: 3.5em;
    }
    p.text {
        font-size: 18px;
        overflow: hidden;
    }
    .content-holder h1 {
        font-size: 30px;
    }
    .placeholder {
        display: none;
    }
    nav a:first-child {
        grid-column: 1/3;
    }
}

@media only screen and (max-width:630px) {
    .content-holder {
        width: 100%;
    }
    section.pair-for-picture-and-descriptions>.text {
        font-size: 1.1em;
    }
    #text-in-headbg .top {
        font-size: 3em;
    }
    p.text {
        font-size: 16px;
        overflow: hidden;
    }
    .content-holder h1 {
        font-size: 25px;
    }
    nav ul {
        display: none;
    }
    nav div.hide {
        display: block;
        line-height: 70px;
        background-image: url('bars.svg');
        background-size: 27px;
        position: relative;
        background-repeat: no-repeat;
        background-position: right center;
        margin-right: 20px;
    }
    div.hide ul>li {
        list-style: none;
    }
    div.hide ul {
        top: 70px;
        display: none;
        position: absolute;
        background-color: white;
        z-index: 67;
    }
    nav div.hide:hover ul {
        display: block;
    }
}

@media only screen and (max-width:575px) {
    .content-holder {
        width: 100%;
        top: 100%;
    }
    #text-in-headbg .top {
        font-size: 2.7em;
    }
    #text-in-headbg .bottom {
        font-size: 1em;
    }
    #body .headbg {
        height: 350px;
    }
    p.text {
        font-size: 14px;
        overflow: hidden;
        line-height: 25px;
    }
    .content-holder h1 {
        font-size: 20px;
    }
}

@media only screen and (max-width:495px) {
    .content-holder-wide {
        width: 100%;
        top: 100%;
    }
    .pair-for-picture-and-descriptions {
        grid-template-columns: 1fr;
    }
    #text-in-headbg .top {
        font-size: 2em;
    }
    #text-in-headbg .bottom {
        display: none;
    }
    #text-in-headbg .top>strong {
        padding: 3px;
    }
    #body .headbg {
        height: 350px;
    }
    p.text {
        font-size: 14px;
        overflow: hidden;
        line-height: 20px;
    }
    .content-holder h1 {
        font-size: 20px;
    }
    nav p:first-child {
        font-size: 1.3em;
        line-height: 70px;
        padding-left: 10px;
    }
    div.white-overlay {
        font-size: 2em;
    }
}

@media only screen and (max-width:370px) {
    .content-holder {
        top: 100%;
        width: 100%;
    }
    #text-in-headbg .top {
        font-size: 2em;
    }
    #text-in-headbg .bottom {
        display: none;
    }
    #text-in-headbg .top>strong {
        padding: 3px;
        top: 50%;
        left: 50%;
    }
    #body .headbg {
        height: 250px;
    }
    #text-in-headbg {
        width: 100%;
        text-align: center;
    }
    p.text {
        font-size: 14px;
        overflow: hidden;
    }
    .content-holder h1 {
        font-size: 20px;
    }
}


/*section#left-aside {
    position: fixed;
    left: 10%;
    top: 80%;
    transform: translate(-50%, -50%);
    border: solid rgb(0, 19, 83) 3px;
    color: rgb(0, 19, 83);
    font-weight: 5000;
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
}


/*section#right-aside {
    position: fixed;
    left: 90%;
    top: 90%;
    color: rgb(0, 19, 83);
    font-weight: 5000;
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
    width: fit-content;
}

section#right-aside p {
    border-bottom: solid rgb(0, 19, 83) 2px;
}

section#right-aside a {
    text-align: left;
    color: black;
    text-decoration: none;
    list-style: none;
}

section#left-aside:hover {
    color: white;
    background-color: rgb(0, 19, 83);
    transition: all .5s ease;
}*/